body{
    font-family:Arial,sans-serif;
    margin:0;
    padding:0;
    background-color: rgb(255, 214, 214)
}

.navbar{
    background: linear-gradient(135deg, rgb(113, 136, 71), rgb(213, 163, 25) );
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    border-radius:20px;
    color:rgb(177, 42, 21)
}


.login-container{
    max-width: 480px;
    margin: 100px auto 50px auto;
    background-color:rgb(196, 248, 248);
    border-radius:10px;
    box-shadow: 0 0 20px rgb(65, 27, 0);
    padding:40px
}


.login-container h2{
    margin-bottom:20px;
    text-align: center;
}

.form-group {
    margin-bottom: 25px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 90%;
    padding: 15px;
    border-radius: 6px;
    border: 1px solid #005a20;
    background-color: #f5f5f5;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    background: linear-gradient(135deg, #009605, #80d6a1);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #6fc667;
}

p {
    text-align: center;
    cursor: pointer;
    color: #666666;
    transition: color 0.3s ease;
}

.highlighted {
    text-decoration: underline;
}

.highlighted:hover {
    color: #80ced6;
    text-decoration: underline;
}